################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/WorkerService/obj
/WorkerService/bin/Debug/net10.0
